---
import { asText } from '@prismicio/client';
import { PrismicHtml } from '..';
import '../../styles/components/slices/cta.scss';

const {
  headline,
  description,
  featured_link,
  link_label
} = Astro.props;
---

{!!featured_link?.url?.length && (
  <section class="cta container">
    <div class="cta__content">
      {!!headline?.length && (
        <h2 class="cta__title text-5">
          {asText(headline)}
        </h2>
      )}
      {!!description?.length && (
        <div class="cta__desc">
          <PrismicHtml html={description} />
        </div>
      )}
    </div>
    <div class="cta__link">
      <a href={featured_link.url} target={featured_link.target} class="card">
        <strong class="text-2 btn">{link_label}</strong>
      </a>
    </div>
  </section>
)}