---
import { asText } from '@prismicio/client';
import { PrismicHtml } from '..';
import '../../styles/components/slices/cta.scss';

const {
  headline,
  description,
  featured_link,
  link_label
} = Astro.props;
---

{!!featured_link?.url?.length && (
  <section class="cta">
    {!!headline?.length && (
      <h2 class="cta__title text-5 container">
        {asText(headline)}
      </h2>
    )}

    <div class="container--sm">
      {!!description?.length && (
        <div class="cta__desc richtext">
          <PrismicHtml html={description} />
        </div>
      )}

      <a
        class="card"
        href={featured_link.url}
        target={featured_link.target}
      >
        <strong class="text-2 btn">{link_label}</strong>
      </a>
    </div>
  </section>
)}