---
import { asText } from '@prismicio/client';
import { Card, PrismicHtml } from '..';
import '../../styles/components/slices/planes-index.scss';

const { headline, description, items = []} = Astro.props;

const planes = items.map(({ plane }) => plane);
---

<section class="planes-index container">
  {!!headline?.length && (
    <h2 class="planes-index__title text-4">
      {asText(headline)}
    </h2>
  )}

  {!!description?.length && (
    <div class="planes-index__content">
      <PrismicHtml html={description} />
    </div>
  )}

  {!!planes.length && (
    <ul class="planes-index__list">
      {planes.map(({ url = "", data: plane = {} }) => {
        const pilot = !!plane?.pilot?.data?.name?.length
          ? asText(plane.pilot.data.name)
          : 'Mystery Pilot';

        return (
          <li>
            <Card url={url} photo={plane?.photo}>
              <h3 class="text-1" slot="title">{asText(plane?.name)}</h4>
              <p class="text--1" slot="subtitle">Built by {pilot}</p>
            </Card>
          </li>
        );
      })}
    </ul>
  )}
</section>