---
import { Image } from 'astro:assets';
import { asText } from '@prismicio/client';
import { PrismicHtml } from '..';
import '../../styles/components/slices/text-with-image.scss';

const {
  headline,
  description,
  align_image: isImageOnRight = false,
  image,
} = Astro.props;

const hasImage = !!image.url?.length;
---

<section
  class:list={['text-with-image', 'container--lg', {
    'text-with-image--reverse': !isImageOnRight,
    'text-with-image--center': !hasImage,
  }]}
>
  <div class="column column__text">
    {!!headline?.length && (
      <h2 class:list={['text-with-image__title', 'text-4', {
        'container--sm': !hasImage,
      }]}>
        {asText(headline)}
      </h2>
    )}
    {!!description.length && (
      <div class="text-with-image__content richtext">
        <PrismicHtml html={description} />
      </div>
    )}
  </div>

  {hasImage && (
    <div class="column column__image">
      <Image
        src={image.url}
        alt={image.alt || ''}
        width={image.dimensions.width}
        height={image.dimensions.height}
        widths={[240, 540, 720]}
        sizes="(max-width: 360px) 240px, (max-width: 720px) 540px"
      />
    </div>
  )}
</section>