---
import { Image } from 'astro:assets';
import { asText } from '@prismicio/client';
import { PrismicHtml } from '..';
import '../../styles/components/slices/text-with-image.scss';

const {
  headline,
  description,
  highlight_color,
  align_image: isImageOnRight = false,
  image,
  include_shadow = false,
} = Astro.props;

const hasImage = !!image.url?.length;
---

<section
  class:list={['text-with-image', 'container--lg', {
    'text-with-image--reverse': !isImageOnRight,
    'text-with-image--center': !hasImage,
  }]}
>
  <div class="column column__text">
    {!!headline?.length && (
      <h2 class:list={['column__text__title', 'text-4', {
        'container--sm': !hasImage,
      }]}>
        {asText(headline)}
      </h2>
    )}
    {!!description.length && (
      <div
        class:list={['column__text__desc', 'richtext', {
          'desc--center': !hasImage,
        }]}
      >
        <PrismicHtml html={description} />
      </div>
    )}
  </div>

  {hasImage && (
    <div
      class:list={['column', 'column__image', {
        'column__image--shadow': include_shadow,
      }]}
    >
      <Image
        src={image.url}
        alt={image.alt || ''}
        width={image.dimensions.width}
        height={image.dimensions.height}
        widths={[240, 540, 720]}
        sizes="(max-width: 360px) 240px, (max-width: 720px) 540px"
      />
    </div>
  )}
</section>

<style define:vars={{
  'highlight-color': highlight_color || 'var(--accent-color)'
}}></style>