---
import { asText } from '@prismicio/client';
import { Image } from 'astro:assets';
import { Card, PrismicHtml, TitleCard } from '../../components';
import { fetchDocumentsByType } from '../../lib/prismic/queries';
import Layout from '../../layouts/Layout.astro';
import '../../styles/pages/plane-detail.scss';

export async function getStaticPaths() {
  const results = await fetchDocumentsByType({
    type: 'plane',
    options: {
      fetchLinks: [
        'event.event_name',
        'pilot.name',
        'pilot.avatar'
      ],
    }
  }) || [];

  return results.map(({ uid, data }) => ({
    params: { uid },
    props: { ...data }
  }));
}

const {
  name,
  event,
  photo,
  pilot
} = Astro.props;

const planePhoto = photo?.url ? photo : null;

const pilotPhoto = pilot.data.avatar?.url
  ? pilot.data.avatar
  : null;
---

<Layout
  id="plane-detail"
  class="container"
  title={asText(name) || 'Plane'}
>
  <h1 class="text-5">{asText(name)}</h1>

  <section class="container--sm">
    <Card photo={planePhoto}>
      <h4 class="text-1" slot="title">{asText(event.data.event_name)}</h4>
      <p class="text--1" slot="subtitle">Built by {asText(pilot.data.name)}</p>

      {pilotPhoto && (
        <Image
          src={pilotPhoto.url}
          width={150}
          height={150}
          alt={pilotPhoto.alt || ''}
        />
      )}
    </Card>
  </section>

  <!-- {planePhoto && (
    <Image
      src={planePhoto.url}
      width={1400}
      height={840}
      alt={planePhoto.alt || ''}
    />
  )} -->

  <!-- <p>

    {pilotPhoto && (
      <Image
        src={pilotPhoto.url}
        width={150}
        height={150}
        alt={pilotPhoto.alt || ''}
      />
    )}
  </p> -->
</Layout>