---
import  SpeedInsights  from "@vercel/speed-insights/astro";
import { fetchSingleDocumentByType } from '../lib/prismic/queries';
import { Footer, Navbar, SEO } from '../components';
import '../styles/global.scss';

const { data: pageData } = await fetchSingleDocumentByType({ type: 'global_settings' }) || {};
const { data: footerData } = await fetchSingleDocumentByType({ type: 'global_navigation' }) || {};

const { title, seoImage, seoDesc, id, class: className } = Astro.props;

const {
	seo_default_title: seoDefaultTitle,
	seo_default_desc,
	seo_default_image,
	theme_secondary_color,
	placeholder_images: {
		url: defaultPlaceholderImage = "",
		Plane: {
			url: planePlaceholderImage = "",
		} = {},
		Pilot: {
			url: pilotPlaceholderImage = "",
		} = {},
	} = {}
} = pageData;

const { footer_desc: footerDesc } = footerData;

const seoTitle = title
	? `${title} | Paper Plane Olympics`
	: (seoDefaultTitle ?? 'Paper Plane Olympics');
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="robots" content="noindex">

		<SEO
			title={seoTitle}
			description={seoDesc || seo_default_desc}
			image={seoImage || seo_default_image}
		/>
	</head>
	<body>
		<SpeedInsights />
		<Navbar />
		<main id={id} class={className}>
			<slot />
		</main>
		<Footer description={footerDesc} />
	</body>
</html>

<style
	define:vars={{
		'accent-color': `url('${theme_secondary_color}')`,
		'fpo-url': `url('${defaultPlaceholderImage}')`,
		'fpo-plane-url': `url('${planePlaceholderImage}')`,
		'fpo-pilot-url': `url('${pilotPlaceholderImage}')`,
	}}
></style>
